.pano-360-icon {
	position: absolute;
	align-self: center;
	z-index: 1;
	pointer-events: none;
}

.feed-card-media-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.feed-card {
	margin: 30px 0px;

	.ant-card-body {
		padding: 0px;
	}

	.ant-list-item-meta-avatar {
		align-self: center;
	}

	.follow-button {
		float: right;
		margin-top: -20px;
		color: black;
	}

	.share-source-icon {
		float: right;
		height: 32px;
		margin-top: -2px;
	}
}

.feed-card-action-title {
	margin-left: 5px;
	color: gray;
}

.feed-card-image,
.feed-card-video {
	width: 100%;
}

.feed-card-user-country-flag {
	width: 16px;
	margin-right: 5px;
}

.feed-card-body-container {
	margin: 10px;
}

.play-button {
	position: absolute;
	align-self: center;
	pointer-events: none;
	z-index: 1;
}

.view-more-comments-button {
	padding-left: 0px;
	color: gray;
}

.feed-card-action-button {
	margin-right: 10px;
}

.feed-card-caption-container {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 5px;

	.timestamp {
		float: right;
		font-size: 10px;
	}
}

.feed-card-comments-container {
	margin-left: 5px;
}
