.forgot-password-button-container {
	text-align: right;
	margin-bottom: 10px;

	button {
		color: gray;
	}
}

.register-new-account-button-container {
	text-align: center;

	button {
		color: gray;
	}
}

.login-now-button-container {
	text-align: center;
}
