.user-info-header-card {
	margin-bottom: 20px;

	.ant-card-body {
		padding: 16px;
	}
}

.user-info-header-container {
	display: flex;

	.user-avatar {
		align-self: center;
	}
}

.user-info-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 20px;

	.user-nickname-row {
		display: flex;
		justify-content: space-between;
	}

	.user-nickname-container {
		display: flex;
		flex-direction: column;
		font-size: 12px;
	}

	.user-nickname {
		font-size: 20px;
		font-weight: bold;
	}

	.user-bio {
		margin: 10px 0px;
	}

	.stats-row {
		text-align: center;
		margin: 10px 0px;
	}
}

.ant-statistic.clickable {
	cursor: pointer;
}
