.user-list-modal {
	.ant-modal-body {
		height: 50vh;
		overflow-y: auto;
		padding-top: 5px;
	}

	.loading-container {
		position: absolute;
		bottom: 40px;
		width: 100%;
		text-align: center;
	}
}
