.timeline-like-feed-card {
	margin: 30px 0px;

	.feed-card {
		margin: 0px;
	}

	.ant-card-body {
		padding: 12px;
	}
}

.timeline-like-feed-card-title {
	margin-left: 10px;
}

.timeline-likes-feed-card {
	.ant-card-body {
		padding: 12px;

		.ant-list-item {
			margin-bottom: 0px;
		}
	}
}
