.App {
	text-align: center;
}

.App-logo {
	height: 64px;
}

.App-container {
	margin-top: 100px;
}

.App-content {
	max-width: 550px;
	margin: auto;
}

.App-link {
	color: #09d3ac;
}

.loading-container {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}
